.hero-image-1 {
    background-color: blueviolet;
    height: 30rem;
    width: 100%;
  }
  .hero-image {
    max-width: 100vw;
  }
  .hero-image img {
    width: 100%;
  }
  .second-image {
    max-width: 100vw;
    margin-top: 300px;
  }
  .second-image img {
    width: 100%;
  }