.section-2-container {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgb(41, 0, 88);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50rem;
    max-height: fit-content;
    flex-wrap: nowrap;
    font-size: larger;
}


.section-2-text-container {
  min-width: 35%;
  padding: 2rem;
  max-width: 65rem;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  text-decoration: none;
  list-style: none;
}

.section-2-text-container li {
  display: block;
  list-style-type: none;
  font-style: italic;
  text-align: left;
}

.section-2-text-container h2 {
  font-weight: bold;
}


.row-1, .row-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/* Media query for tablets (portrait orientation) */
@media screen and (max-width: 1100px) {
    .section-2-container {
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
      font-size: large;
    }

    .section-2-image {
      max-width: 70%;
    }

    .section-2-text {
      margin-left: 0rem;
  }
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 480px) {
    .section-2-container {
      font-size: small;
    }
    .section-2-image {
      max-width: 90%;
    }
    .section-2-text {
      min-width: unset;
  }
  }