.section-2-container {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgb(41, 0, 88);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50rem;
    max-height: fit-content;
    flex-wrap: nowrap;
    font-size: larger;
}

.section-2-image {
    max-width: 50rem;
    width:80%;
    padding: 2rem;
    height:auto;
    max-height: 100%; /* Ensures the image doesn't overflow the container */
    object-fit: contain; /* Fits the image within the container while preserving aspect ratio */
    overflow:-moz-hidden-unscrollable;
}

.section-2-text-container {
  min-width: 35%;
  padding: 2rem;
  max-width: 65rem;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  text-decoration: none;
  list-style: none;
}

.section-2-text-container li {
  display: block;
  list-style-type: none;
  font-style: italic;
  text-align: left;
}

.section-2-text-container h2 {
  font-weight: bold;
}


.footer-container {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: rgba(16, 8, 51, 0.568);
  justify-content: space-between;
  height: 168px;
}

.row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.row-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



/* Style for the footer buttons */
.section-2-link button {
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 3.5rem;
  border-radius: 5px;
  font-size: 14px;
  background-color: #462fcca2; /* Green background color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  width: 100%;
}
.section-2-link a {
  text-decoration: none;
  
}

/* Hover effect */
.section-2-link button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Active effect (when button is clicked) */
.section-2-link button:active {
  background-color: #3e8e41; /* Darker green when active */
}


.kenny-solutions-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 70%;
  max-width: 25rem;

}

.kenny-solutions-button::before {
  width:4rem;
  height: 24px;
  margin-right: 10px;
}

.footer-links a {
  text-decoration: none;
}


/* Media query for tablets (portrait orientation) */
@media screen and (max-width: 1100px) {
    .section-2-container {
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
      font-size: large;
    }

    .section-2-image {
      max-width: 70%;
    }

    .section-2-text {
      margin-left: 0rem;
  }
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 480px) {
    .section-2-container {
      font-size: small;
    }
    .section-2-image {
      max-width: 90%;
    }
    .section-2-text {
      min-width: unset;
  }
  }