.section-3-container {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgb(41, 0, 88);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50rem;
    max-height: fit-content;
    flex-wrap: nowrap;
    font-size: larger;
}

.section-3-image {
  max-width: 50rem;
  width: 50%;
  padding: 2rem;
  height:auto;
  max-height: 100%; /* Ensures the image doesn't overflow the container */
  object-fit: contain; /* Fits the image within the container while preserving aspect ratio */
  overflow:-moz-hidden-unscrollable;
}

.text-container {
  min-width: 35%;
  padding: 2rem;
    max-width: 25rem;
    text-align: center;
}


.section-3-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


  .container{
    width:100%;
    height:130px;
    margin:20px auto 0 auto;
    /* background:#222; */

    display:flex;
    align-items: center;
    justify-content: center;
  }

  .react-logo{
    display: inline-block;
    border-radius:50%;
    border:10px solid #00d8ff;
    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  .react-logo , .react-logo:before , .react-logo:after{
    position:absolute;
    display: inline-block;
    width:100px;
    height:35px;
    border-radius:50%;
    border:6px solid #00d8ff;
  }

  .nucleo , .react-logo , .react-logo:before , .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nucleo{
    width:20px;
    height:20px;
    border-radius:100%;
    background:#00d8ff;
  }

  .react-logo:before , .react-logo:after{
    content:"";
  }

  .react-logo:after{
    transform:rotate(-57deg);
  }

  .react-logo:before{
    transform:rotate(57deg);
  }
  
.title{
  /* background:#222; */
  color:#00d8ff;
  width:250px;
  margin:2px auto;
  text-align:center;
  margin-top: 150px;
}

  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }

/* Media query for tablets (portrait orientation) */
@media screen and (max-width: 1100px) {
  .section-3-container {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    font-size: large;
  }

  .section-3-image {
    max-width: 70%;
  }

  .section-3-text {
    margin-left: 0rem;
}

  
  /* Media query for mobile devices */
  @media screen and (max-width: 480px) {
    .section-3-container {
      font-size: small;
    }
    .section-3-image {
      max-width: 90%;
    }
    .section-3-text {
      min-width: unset;
  }
  }