.slidebar-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.833);
    height: 250px;
    z-index: 1;
    margin-top: -200px;
    overflow:-moz-hidden-unscrollable;
}

.slidebar-container img {
    max-width: 100%;
}