
.section-5-container {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgb(41, 0, 88);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50rem;
}

.section-5-image {
    max-width: 35rem;
    padding: 2rem;
    height: auto;
    max-height: 100%; /* Ensures the image doesn't overflow the container */
    object-fit: contain; /* Fits the image within the container while preserving aspect ratio */
}

.section-5-text {
    padding: 2rem;
    max-width: 45rem;
    margin-left: 10rem;
}